@using Microsoft.AspNetCore.Identity
@model Smart_Gym.Models.Ejercicio
@inject SignInManager<Usuario> SignInManager

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Smart_Gym.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" /> @* Permite usar la librería de íconos de Bootstrap *@


@{
    Layout = null;
    ViewData["Title"] = "Create";
    var rolesPermitidos = new[] { "Administrador", "Entrenador" }; //Crea un arreglo con los roles permitidos para editar y eliminar rutinas.
    var tieneRol = rolesPermitidos.Any(rol => User.IsInRole(rol)); //Verifica si el usuario tiene alguno de los roles permitidos.
}
@if (SignInManager.IsSignedIn(User)) //Esta opción solo se muestra si el usuario está logueado
{
    if (tieneRol)
    {



<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row border border-secondary p-3 w-40" style="border-radius:14px;">

        <h1 class="my-3 text-center">Fábrica de ejercicios</h1>
        <hr />

        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NombreEjercicio" class="control-label">Nombre</label>
                    <input asp-for="NombreEjercicio" class="form-control my-2" />
                    <span asp-validation-for="NombreEjercicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdMaquina" class="control-label">Máquina para el ejercicio</label>
                    <div class="my-2">
                        @Html.DropDownListFor(model => model.IdMaquina, (SelectList)ViewBag.IdMaquina, "--- Seleccione una máquina ---", new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="GrupoMuscular" class="control-label">Grupo muscular</label>
                    <input asp-for="GrupoMuscular" class="form-control my-2" />
                    <span asp-validation-for="GrupoMuscular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImagenEjercicio" class="control-label">Imagen del ejercicio</label>
                    <input asp-for="ImagenEjercicio" class="form-control my-2" />
                    <span asp-validation-for="ImagenEjercicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DescripcionEjercicio" class="control-label">Descripción</label>
                    <textarea asp-for="DescripcionEjercicio" class="form-control my-2" rows="6"></textarea>
                    <span asp-validation-for="DescripcionEjercicio" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center  form-group">
                    <a class="btn btn-secondary" style="border-radius: 14px;" asp-action="Index">
                        <i class="bi bi-arrow-left-circle me-2"></i>volver
                    </a>
                    <input type="submit" value="Agregar ejercicio"
                           class="btn btn-primary my-3" style="border-radius: 14px;" />
                </div>
            </form>
        </div>
    </div>
</div>
    }
    else
    {
        <div class="d-flex flex-column justify-content-center align-items-center vh-100">
            <div class="d-flex align-items-center mb-3">
                <i class="bi bi-emoji-frown-fill fs-1 mx-2"></i>
                <h1 class="m-0">Acceso denegado</h1>
            </div>

            <a class="btn btn-secondary text-white" style="border-radius: 14px;" asp-action="Index">
                <i class="bi bi-arrow-left-circle mx-2"></i> Volver
            </a>
        </div>

    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

