@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="https://t3.ftcdn.net/jpg/06/58/68/54/240_F_658685437_Kk7at8VZXHCM8XZFF1bf2u1v97xy13CV.jpg"
             alt="Smart Gym Banner"
             class="img-fluid w-100"
             style="max-height: 400px; border-radius: 14px;" />
    </div>
    <h1 class="display-4 my-5">Hora de entrenar</h1>

    <div class="w-100 row border border-secondary p-3" style="border-radius:14px; height: 500px;" >
        <iframe src="https://www.youtube.com/embed/gtqQFUCk4j8"               
                allowfullscreen>

        </iframe>

    </div>
</div>
