@model Smart_Gym.Models.ClaseRutina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClaseRutina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clase.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rutina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rutina.DescripcionRutina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdClaseRutina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
