@{
    ViewData["Title"] = "Crear Rol";
}

<h1>Crear nuevo rol</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="roleName">Nombre del rol</label>
        <input type="text" class="form-control" id="roleName" name="roleName"/>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-3">Crear Rol</button>
   </form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @foreach(var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }

    </div>

}