@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="d-flex justify-content-between align-items-center">
<h1>Administrar Roles</h1>
    <a asp-action="Create" class="btn btn-outline-primary" style="border-radius:14px;">
    <i class="bi bi-plus-circle me-2"></i>Agregar rol
</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="roleId" value="@role.Id"/>
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>